/_build
/cover
/cover
/deps
/deps
/doc
/doc
/.fetch
/.fetch
erl_crash.dump
erl_crash.dump
*.ez
*.ez
*.beam
*.beam
/config/*.secret.exs
/config/*.secret.exs
.elixir_ls/
.elixir_ls/
/tmp
/tmp
/node_modules
/node_modules
/assets/node_modules
/assets/node_modules


# vscode 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.history
.ionide
